*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(14, 37, 74);
    align-items: center;
    justify-content: center;
}
.container{
    width:100%;
    max-width: 600px;
    margin:12%;
    
}
.container h2{
    font-size: 45px;
    color: #fff;
    font-weight: 500;
    padding:10px auto 0;
    margin-bottom: 8px;
}
#pass{
    color:rgb(47, 106, 47);
    border-bottom: 4px solid rgb(47, 106, 47);
    padding-bottom: 7px;

    
}
.input {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:26px 20px ;
    border-radius: 5px;
}
.input input {
    border: 0;
    outline: 0;
    font-size: 24px;
}
.input img{
    width: 30px;
    cursor: pointer;
}
.container button {
    border: 0;
    outline: 0;
    background: rgb(47, 106, 47);
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    margin: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;padding: 16px 26px;
    cursor: pointer;
}
.container button img{
    width: 28px;
    margin-right: 10px;
    
}
